<!--<div>-->

{% load static %}
<!--<div>-->
<!--    <center>-->
<!--        © 2023 mykart.com . All rights reserved • Terms of Use Privacy Policy</center>-->
<!--</div>-->
<!--</div>-->
<!-- Footer -->
<div class="footer" id="contact">
<div class="container my-5">

  <footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="">SCHOOL.STORE . All rights reserved • Terms of Use Privacy Policy</a>
  </div>
  <!-- Copyright -->
</footer>

<!--</div>-->
<!--        <div class=" text-center">-->
<!--            &lt;!&ndash; Email input &ndash;&gt;-->

<!--                  <h6 align="middle">© 2023 mykart.com . All rights reserved • Terms of Use Privacy Policy</h6>-->

<!--          </div>-->
<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--</div>-->
