
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

   <!--</nav>--><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SCHOOL.STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">


<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">computer science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">commerce</a>
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#abt">About</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'sapp:login' %}"><button class=" btn-outline-warning my-2 my-sm-0" type="button">Login </button></a>
      </li>
    </ul>
  </div>
</nav>
